* {
  box-sizing: border-box;
}

.body {
  margin: 0;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 0.25rem;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 0.5rem;
  vertical-align: middle;
  width: 100%;
}

.title {
  font-family: 'Staatliches', cursive;
  font-size: 5rem;
  letter-spacing: 3.25rem;
}

/*button style*/
a {
  padding-left: 3rem;
}

p {
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 1.5em;
  margin-left: 20rem;
  margin-right: 20rem;
  letter-spacing: 0.8rem;
}

@media screen and (max-width: 1000px) {

  /*button style*/
  a {
    padding-left: 1rem;
    padding-top: 2rem;
  }

  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .title {
    font-size: 4rem;
    margin-left: 2rem;
  }

  p {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    margin-left: 2rem;
    margin-right: 2rem;
    letter-spacing: 0.2rem;
  }
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0
  }

  /*button style*/
  a {
    padding-left: 1rem;
    padding-top: 2rem;
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .logo {
    margin-left: 0;
    margin-right: 3rem;
  }

  p {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    margin-left: 2rem;
    margin-right: 2rem;
    letter-spacing: 0.2rem;
  }

  .title {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: center;
  }
}