* {
  box-sizing: border-box;
}

.m-1 {
  margin: 4rem;
}

.body {
  margin: 0;
}

.header {
  text-align: center;
  padding: 2rem;
}

.title {
  font-family: 'Staatliches', cursive;
  font-size: 5rem;
  letter-spacing: 3.25rem;
}

/*button style*/
a {
  padding-left: 3rem;
}

p {
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 1.5em;
  margin-left: 20rem;
  margin-right: 20rem;
  letter-spacing: 0.8rem;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
  .w3col {
    margin: 2rem;
  }

  p {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    margin-left: 10rem;
    margin-right: 10rem;
    letter-spacing: 0.8rem;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .m6 {
    margin-left: 15rem;
  }

  p {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    margin-left: 10rem;
    margin-right: 10rem;
    letter-spacing: 0.8rem;
  }

  /* Footer*/
  .w3-xlarge {
    margin-left: 1rem;
  }
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  .m6 {
    margin-left: 6rem;
    width: 70%;
  }

  .logo {
    margin-left: 0;
    margin-right: 3rem;
  }

  p {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    margin-left: 2rem;
    margin-right: 2rem;
    letter-spacing: 0.2rem;
  }

  .title {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: center;
  }
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 400px) {
  .m6 {
    margin-left: 4rem;
    width: 70%;
  }

  .logo {
    margin-left: 0;
    margin-right: 3rem;
  }

  p {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 0.8em;
    margin-left: 2rem;
    margin-right: 2rem;
    letter-spacing: 0.2rem;
  }

  .title {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: center;
  }
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 300px) {
  .m6 {
    margin-left: 3rem;
    width: 70%;
  }

  .logo {
    margin-left: 0;
    margin-right: 3rem;
  }

  p {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 0.8em;
    margin-left: 2rem;
    margin-right: 2rem;
    letter-spacing: 0.2rem;
  }

  .title {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: center;
  }
}