.m-1 {
  margin: 4rem;
}

/* START-Base*/
h4 {
  font-family: 'Staatliches', cursive;
  letter-spacing: 10px;
}

.title {
  font-family: 'Staatliches', cursive;
  font-size: 5rem;
  letter-spacing: 3.25rem;
}

/* End-Base */
/*button style*/
a {
  padding-left: 3rem;
}

body {
  background-color: #f1f1f1;
  font-family: 'Roboto Mono', monospace;
}

p {
  margin: 0;
}

p.fin {
  margin-bottom: 30px;
}

@media only screen and (max-width: 1000px) {

  /* START-Base*/
  h4 {
    font-family: 'Staatliches', cursive;
    letter-spacing: 8px;
    font-size: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  p {
    font-size: 0.8rem;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

/* Tablet*/
@media only screen and (max-width: 768px) {

  /* START-Base*/
  h4 {
    font-family: 'Staatliches', cursive;
    letter-spacing: 8px;
    font-size: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  p {
    font-size: 0.8rem;
  }
}

/* Mobile*/
@media only screen and (max-width: 543px) {
  .title {
    font-size: 1rem;
    padding-left: 3rem;
    padding-top: 3rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.7rem;
  }

  iframe {
    width: 70%;
    height: 70%;
    padding-right: 1.5rem;
  }

  /* Footer*/
  .w3-xlarge {
    margin-left: 1rem;
  }
}

/* Mobile*/
@media only screen and (max-width: 300px) {
  .title {
    font-size: 0.5rem;
    padding-top: 3rem;
  }

  h4 {
    font-size: 0.6rem;
  }

  p {
    font-size: 0.7rem;
  }

  iframe {
    width: 80%;
    height: 80%;
  }

  /* Footer*/
  .w3-xlarge {
    margin-left: 1rem;
  }
}